<div class="container">
  <div class="row" style="align-content: center;"> 
      <div class="col-sm">
        <button class="btn btn-md btn-outline-primary"><i class="fa fa-user" (click)="openRegisterAppUserModal(registerAppUserModal)">Register</i></button>     
        <button class="btn btn-md btn-outline-primary"><i class="fa fa-user" (click)="openLoginAppUserModal(loginAppUserModal)">Login</i></button>     
      </div> 
  </div>
</div>

<ng-template #registerAppUserModal let-c="close" let-d="dismiss">
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Register User</h4>
      <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form #registerAppUserForm="ngForm" (ngSubmit)="onSubmit(registerAppUserForm)">
        <small class="text-danger">{{ userNotCreatedSuccessfulMessage }}</small> 
        <div class="form-group">
            <label for="lastName">Last Name</label>
            <div class="input-group">
                <input id="lastName" name="lastName" class="form-control" ngModel required #lastName="ngModel"
                [class.is-invalid] = "lastName.invalid && lastName.touched">
                <small class="text-danger" [class.d-none]="lastName.valid || lastName.untouched">Last Name is required</small>
            </div>
        </div>
        <div class="form-group">
            <label for="firstName">First Name</label>
            <div class="input-group">
                <input id="firstName" name="firstName" class="form-control" ngModel required #firstName="ngModel"
                [class.is-invalid] = "firstName.invalid && firstName.touched">
                <small class="text-danger" [class.d-none]="firstName.valid || firstName.untouched">First Name is required</small>
            </div>
        </div>
        <div class="form-group">
            <label for="email">Email</label>
            <div class="input-group">
                <input type="email" id="email" name="email" class="form-control" ngModel required 
                pattern='^[\w-]+(\.[\w-]+)*@([a-z0-9-]+(\.[a-z0-9-]+)*?\.[a-z]{2,6}|(\d{1,3}\.){3}\d{1,3})(:\d{4})?$' noncapitalize #svemail="ngModel" 
                [class.is-invalid] = "svemail.invalid && svemail.touched">
                
                <div *ngIf="svemail.errors && svemail.invalid && svemail.touched">
                  <small class="text-danger" *ngIf="svemail.errors.required">Email is required</small>
                  <small class="text-danger" *ngIf="svemail.errors.pattern">Invalid Email</small>
              </div>
            </div>
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <div class="input-group">
                <input type="password" id="password" name="password" class="form-control" ngModel required #svpassword="ngModel" 
                [class.is-invalid] = "svpassword.invalid && svpassword.touched">
                <small class="text-danger" [class.d-none]="svpassword.valid || svpassword.untouched">Password is required</small>
            </div>
        </div>

        <div class="form-group">
          <label for="cpassword">Confirm Password</label>
          <div class="input-group">
              <input type="password" id="cpassword" name="cpassword" class="form-control" ngModel required 
              #cpassword="ngModel" (ngModel)="appUser.password" [class.is-invalid]="cpassword.invalid && cpassword.untouched">
              <small class="text-danger" [class.d-none]="(cpassword.value == svpassword.value) || cpassword.untouched"
              >Password and Confirm Password must match</small>
          </div>
      </div>

        <div class="border text-center">
            <button [disabled]="registerAppUserForm.form.invalid" data-dismiss="modal" class="btn btn-info">Save</button>
            <!-- <small class="float-right btextual" [routerLink]="['/login']">Existing User? Login here</small> -->
          </div>
      </form>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" (click)="c('Save click')">Close</button>
    </div>
  </ng-template>

  <ng-template #loginAppUserModal let-c="close" let-d="dismiss">
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Login</h4>
      <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form #loginAppUserForm="ngForm" (ngSubmit)="loginUser(loginAppUserForm)"> 
        <!-- {{ loginAppUserForm.form.valid }} -->
        <small class="text-danger">{{ loginErrorMessage }}</small>      
        <div class="form-group">
            <label for="email">Email</label>
            <div class="input-group">
                <input type="email" id="email" name="email" class="form-control" placeholder="Enter email" ngModel required 
                pattern='^[\w-]+(\.[\w-]+)*@([a-z0-9-]+(\.[a-z0-9-]+)*?\.[a-z]{2,6}|(\d{1,3}\.){3}\d{1,3})(:\d{4})?$' noncapitalize #lgemail="ngModel" 
                [class.is-invalid] = "lgemail.invalid && lgemail.touched">
                
                <div *ngIf="lgemail.errors && lgemail.invalid && lgemail.touched">
                  <small class="text-danger" *ngIf="lgemail.errors.required">Email is required</small>
                <small class="text-danger" *ngIf="lgemail.errors.pattern">Invalid Email</small>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <div class="input-group">
                <input type="password" id="password" name="password" placeholder="Enter password" class="form-control" ngModel required #lgpassword="ngModel" 
                [class.is-invalid] = "lgpassword.invalid && lgpassword.touched">
                <small class="text-danger" [class.d-none]="lgpassword.valid || lgpassword.untouched">Password is required</small>
            </div>
        </div>

        <div class="border text-center">
            <button [disabled]="loginAppUserForm.form.invalid" data-dismiss="modal" class="btn btn-info">Login</button>
            <!-- <small class="float-right btextual" [routerLink]="['/userregistration']">New User? Register here</small> -->          
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" (click)="c('Save click')">Close</button>
    </div>
  </ng-template>

  