<div class="container">
  <div class="row"> 
      <div class="col-sm">
        <button class="btn btn-md btn-outline-primary"><i class="fa fa-user" (click)="openRegisterAppUserModal(registerAppUserModal)">Register</i></button>     
        <button class="btn btn-md btn-outline-primary"><i class="fa fa-user" (click)="openLoginAppUserModal(loginAppUserModal)">Login</i></button>     
      </div> 
  </div>
</div>



<ng-template #registerAppUserModal let-c="close" let-d="dismiss">
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Register User</h4>
      <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form #registerAppUserForm="ngForm" (ngSubmit)="onSubmit(registerAppUserForm)" novalidate>
        <div class="form-group">
            <label for="lastName">Last Name</label>
            <div class="input-group">
                <input id="svlastName" name="lastName" class="form-control" ngModel required="true">
            </div>
        </div>
        <div class="form-group">
            <label for="firstName">First Name</label>
            <div class="input-group">
                <input id="svfirstName" name="firstName" class="form-control" ngModel>
            </div>
        </div>
        <div class="form-group">
            <label for="email">Email</label>
            <div class="input-group">
                <input type="email" id="svemail" name="email" class="form-control" ngModel>
            </div>
        </div>
        <div class="form-group">
            <label for="Password">Password</label>
            <div class="input-group">
                <input type="password" id="svpassword" name="password" class="form-control" ngModel>
            </div>
        </div>

        <div class="border text-center">
            <button data-dismiss="modal" class="btn btn-info">Save</button>
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" (click)="c('Save click')">Close</button>
    </div>
  </ng-template>

  <ng-template #loginAppUserModal let-c="close" let-d="dismiss">
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Login</h4>
      <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form #registerAppUserForm="ngForm" (ngSubmit)="onSubmit(registerAppUserForm)" novalidate>        
        <div class="form-group">
            <label for="email">Email</label>
            <div class="input-group">
                <input type="email" id="svemail" name="email" class="form-control" ngModel>
            </div>
        </div>
        <div class="form-group">
            <label for="Password">Password</label>
            <div class="input-group">
                <input type="password" id="svpassword" name="password" class="form-control" ngModel>
            </div>
        </div>

        <div class="border text-center">
            <button data-dismiss="modal" class="btn btn-info">Login</button>
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" (click)="c('Save click')">Close</button>
    </div>
  </ng-template>

  