<div class="container">
    <div class="border">
        <button class="btn btn-md btn-outline-primary"><i class="fa fa-user">Add Employee</i></button>
    </div>
    <table class="table table-bordered table-striped" style="width:100%">
        <thead>
            <tr>
                <th>Last Name</th>
                <th>First Name</th>
                <th>Email</th>
                <th>Department</th>
                <th>Country</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let employee of employees">
                <td><span>{{ employee.lastName }}</span></td>
                <td><span>{{ employee.firstName }}</span></td>
                <td><span>{{ employee.email }}</span></td>
                <td><span>{{ employee.department }}</span></td>
                <td><span>{{ employee.country }}</span></td>
                <td>
                    <button class="btn btn-sm btn-info"><i class="fa fa-search"></i>Details</button>
                    <button class="btn btn-sm btn-warning"><i class="fa fa-edit"></i>Edit</button>
                    <button class="btn btn-sm btn-danger"><i class="fa fa-remove"></i>Delete</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
