<div class="container">
    <div class="row"> 
        <div class="col-sm">
            <a href="/userslist" role="button" class="btn btn-outline-primary btn-lg btn-block text-center">
                <span><i class="fa fa-users"></i></span>
                <br>
                App Users       
            </a>
        </div>

        <div class="col-sm">
            <a href="/employees" role="button" class="btn btn-outline-primary btn-lg btn-block text-center">
                <span><i class="fa fa-users"></i></span>
                <br>
                Employees           
            </a>            
        </div>        
    </div>    
    <div *ngIf="chart" style="width:25%;">
        <canvas id="canvas" width="1px" height="1px">
            {{ chart }}
        </canvas>
    </div>
    
</div>

