<div class="container">
    <div class="row"> 
        <div class="col-sm">
            <a href="/userslist" role="button" class="btn btn-outline-primary btn-lg btn-block text-center">
                <span><i class="fa fa-users"></i></span>
                <br>
                App Users       
            </a>
        </div>

        <div class="col-sm">
            <a href="/employees" role="button" class="btn btn-outline-primary btn-lg btn-block text-center">
                <span><i class="fa fa-users"></i></span>
                <br>
                Employees           
            </a>            
        </div>        
    </div>

    <div class="row">
        <div class="col-sm" *ngIf="leaveDaysChart" style="width:30%;">
            <canvas id="leaveDays" width="5px" height="4px">
                {{ leaveDaysChart }}
            </canvas>
        </div>
    
        <div class="col-sm" *ngIf="salaryChart" style="width:30%;">
            <canvas id="salary" width="5px" height="4px">
                {{ salaryChart }}
            </canvas>
        </div>
    
        <div class="col-sm" *ngIf="ageChart" style="width:30%;">
            <canvas id="age" width="5px" height="4px">
                {{ ageChart }}
            </canvas>
        </div>

    </div>
        
    
    
</div>

